@media screen and (max-width:1005px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline h2{
        margin: 2px;
        word-wrap: break-word;
        word-break: break-word;

    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card{
        width: 100%;
    }
}

#botaofooter {
    display: inline-block;
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 1%;
    text-decoration: none;
}

#botaofooter:hover {
    border: none;
    background: #dd1818;
}

